{%  load staticfiles %}
{%  load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Compressor S3</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/app.css' %}" rel="stylesheet"> 
    {% endcompress %}
</head>
<body>
    <h1>Hello Duckie!</h1>
    <div class="text-center">
        <img src="{% static 'images/5a849d0206b8f107087407.jpeg' %}" alt="">
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    {% compress js %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script>
        $(function() {
            console.log("Test!");
        });
    </script>
    {% endcompress %}
    
</body>
</html>